.housing-details-container {
    max-width: 1240px;
    margin: 0 auto;
}

.housing-details-container h2, p {
    color: #FF6060;
}

.carousel-container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.first-row {
    margin-top: 30px;
}

.column1 > div:first-of-type {
    margin-top: 20px;
}

.tag-container {
    margin: 10px 0;
}

.column1 h2 {
    margin: 0 0 10px;
}

.column1 p {
    margin: 0;
}

.collapsible-container > div {
    height: 250px;
}

.column2 {
    padding: 10px 0;
}

.row:last-of-type {
    margin-top: 25px;
    gap: 15px;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-row {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}

.housing-details-container .collapsible-container > div {
    padding-top: 40px;
    padding-bottom: 25px;
}

@media screen and (max-width: 1440px) {
    .housing-details-container {
        margin: 0 100px;
    }

    .housing-details-container .collapsible-container > div {
        height: 300px;
        font-size: 18px;
        line-height: 25px;
    }

    .housing-details-container .collapsible-container > div > p {
        margin: 0;
    }

    .housing-details-container .collapsible-container ul {
        margin-top: 0;
    }

    .housing-details-container .collapsible-container li {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1340px) {
    .housing-details-container {
        margin: 0 50px;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .first-row {
        margin: 0 15px 0;
    }
}


@media screen and (max-width: 800px) {
    .housing-details-container {
        margin: 20px 10px 0;
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .column1 {
        gap: 7px;
    }

    .column1 h2, .column1 p {
        margin-bottom: 3px;
    }

    .column2 {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .first-row {
        height: auto;
    }

    .row:last-of-type {
        margin-top: 0;
    }

    .collapsible-container {
        width: 100%;
    }

    .rating {
        margin-left: 5px;
    }

    .rating > .star {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 500px) {
    .first-row {
        margin-top: 15px;
    }

    .first-row > .column1 > div:first-of-type {
        margin-top: 0;
    }

    .column2 {
        height: 33px;
        padding: 0;
    }

    .column2 .contact {
        height: 100%;
    }

    .column2 .contact > p {
        margin: 0;
        font-size: 12px;
        line-height: 17px;
        width: 90px;
    }

    .column2 .thumb {
        height: 32px;
        width: 32px;
        margin-left: 11px;
    }

    .housing-details-container .row:last-of-type {
        margin-top: 16px;
    }

    .collapsible-container > .collapsible {
        height: 30px;
        font-size: 13px;
    }

    .housing-details-container .collapsible-container > div {
        padding-top: 20px;
        font-size: 12px;
        line-height: 17px;

        /* Si taille non fixée*/
        height: fit-content;
        padding-bottom: 20px;

        /*
        Sinon
        height: 165px;
        padding-bottom: 0;
        */
    }

    .housing-details-container .collapsible-container > div > p {
        line-height: 17px;
    }

    .housing-details-container .collapsible-container > div > ul {
        margin: 5px 0 0;
    }

    .housing-details-container .collapsible-container > div > ul > li {
        padding-bottom: 0;
    }
}